.name {
  font-weight: normal;
  font-size: 0.8rem;
  margin: 0;
}
.rating {
  font-size: 0.7rem;
}
.categories,
.address {
  font-size: 0.631579rem;
}
.addBtn {
  display: flex;
  align-items: center;
  padding-right: 10px;
}
